.container-5 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.flex-container-5 {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container-5 img {
    width: 25%;
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

.buttons {
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
}

.playArea {
    color: white;
    background: url('https://media.istockphoto.com/vectors/vector-realistic-isolated-green-poker-table-for-decoration-vector-id1299608766?k=20&m=1299608766&s=612x612&w=0&h=ZwlBIc1B5noT2uVZG9yighu1FLc5NoeWrk3KloKsdKM=');
}

.youAndDealer {
    border: 1px solid black;
    padding: 10px;
    height: 300px;
    text-align: center;
    flex: 1;
}

